<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We play the songs you love</h2>
                    <h3 class="section-subheading text-muted">Classic Rock, Alternative, Modern Rock, Pop-punk, Reggae and New Wave</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">All The Hits</h4>
                    <p class="text-muted">We have a huge backlog of cover songs we play and we can tailor our set to match your event vibes perfectly.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Full Audio Package</h4>
                    <p class="text-muted">We always arrive with a full sound system catered to your needs, we can even provide microphones for speaches and toasts!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">We'll Rock up Any Event</h4>
                    <p class="text-muted">Weddings, parties, bars, wineries, breweries, bar mitzvahs, you name it, we'll play it</p>
                </div>
            </div>
        </div>
    </section>